/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter.var.latin.woff2');
	font-weight: 100 900;
}

body {
	@apply min-h-screen bg-fjord-50;
	padding-left: calc(100vw - 100%); /* prevent scrollbar from shifting content */
}
body.dark {
	@apply bg-fjord-800;
}
